*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0f172a;
color:white;
}

nav{
display:flex;
justify-content:space-between;
padding:20px 10%;
background:#111827;
position:sticky;
top:0;
}

nav ul{
display:flex;
gap:25px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
display:flex;
align-items:center;
justify-content:center;
padding:100px;
gap:60px;
}

.profile{
width:280px;
height:280px;
border-radius:50%;
object-fit:cover;
border:5px solid #38bdf8;
box-shadow:0 0 40px #38bdf8;
}

.btn{
display:inline-block;
padding:12px 30px;
background:#38bdf8;
color:black;
margin-top:20px;
text-decoration:none;
font-weight:bold;
border-radius:30px;
}

section{
padding:80px 10%;
}

h2{
margin-bottom:30px;
color:#38bdf8;
}

.card{
background:#1e293b;
padding:25px;
margin-bottom:20px;
border-radius:15px;
}

.bar{
height:12px;
background:#334155;
border-radius:10px;
overflow:hidden;
}

.bar span{
display:block;
height:100%;
background:#38bdf8;
}

footer{
text-align:center;
padding:20px;
background:#111827;
}

@media(max-width:768px){

.hero{
flex-direction:column;
text-align:center;
}

}
